# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. Pandas
3. Scikit-learn

# Data Science Tools
| Tools.   | 
|:--------:|
|  Tableau | 
|Matplotlib|  
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

### This is a simple arithmetic expression to multiply then add integer.

In [2]:
200/60

3.3333333333333335

### This will convert 200 minutes to hours by diving by 60

### Objectives:
<ul>
<li>R</li>
<li>Python</li>
<li>SQL</li>
</ul>

## Author
Niraj Paudyal